{% extends '../views/layout.html' %}

{% block content %}
<div class="col-xs-6 col-md-4">
  
  <p>Here at SportyBookies we bring you the latest in free bets, promotions and of course those live scores to check how your bet is going! </p>
  
  <p>Our editor gives his pick of the weeks bets every Wednesday. After years of being on the bookies side, he has decided to take them head on at their own game! Having worked in the betting industry for all of the major players he is in a unique position to hit them where it hurts. Be sure to check his <a href="/">selections here</a> and to get more inside information you can sign up for our <a href='/contact'>newsletter.</a></p>
  
  <p>We review each bookie we promote, weighing up the pros and cons to put your action their way. SportyBookies only promote bookies that have met our strict player friendly criteria. To see our full range of bookies <a href="/bookies">click here.</a></p>
  
  <p>If your’e new to betting or just not quite sure how the odds translate to hard cash in your pocket you can use our <a href="/calculator">odds calculator.</a></p>
</div>

{% endblock %}
