{% extends '../views/layout.html' %}

{% block content %}
<div class="col-xs-12 col-md-8" id="headerwrap">
  
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"> </br>
        <img src="img/logos/bet365.png">
        <div class="caption">
          <h3>Bet365</h3>
          <p><strong>Free Bet</strong>: Bet365 bonus: 100 % bonus up to 100 EUR</p>
          <p><strong>Mobile Site</strong>: Yes</p>
          <p><strong>Live Betting</strong>: Yes</p>
          <p><strong>License</strong>: UK</p>
          <p><strong>Established/Online since</strong>: 2001</p>
          <p><strong>Average Payout</strong>: ~92.6%</p>
          <p><button class="btn btn-info" data-toggle="modal" data-target="#bet365Modal">
              More Info
            </button>
            <a href="#" class="btn btn-info" role="button">Sign-up</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"> </br>
        <img src="img/logos/ladbrokes.jpg">
        <div class="caption">
          <h3>Ladbrokes</h3>
          <p><strong>Free Bet</strong>: Ladbrokes bonus: 100 % free bet up to 30 GBP</p>
          <p><strong>Mobile Site</strong>: Yes</p>
          <p><strong>Live Betting</strong>: Yes</p>
          <p><strong>License</strong>: Gibraltar</p>
          <p><strong>Established/Online since</strong>: 2000</p>
          <p><strong>Average Payout</strong>: ~91.7%</p>
          <p><button class="btn btn-info" data-toggle="modal" data-target="#ladbrokesModal">
              More Info
            </button>
            <a href="#" class="btn btn-info" role="button">Sign-up</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"> </br>
        <a href="http://ads2.williamhill.com/redirect.aspx?pid=140488262&bid=1487410199&lpid=1487410864"><img src="img/logos/willhill.jpg"  width="300" height="200"></a>
        <div class="caption">
          <h3>William Hill</h3>
          <p><strong>Free Bet</strong>: 100 % free bet up to 25 GBP</p>
          <p><strong>Mobile Site</strong>: Yes</p>
          <p><strong>Live Betting</strong>: Yes</p>
          <p><strong>License</strong>: Gibraltar </p>
          <p><strong>Established/Online since</strong>: 1934</p>
          <p><strong>Average Payout</strong>: ~93.6%</p>
          <p><button class="btn btn-info" data-toggle="modal" data-target="#willhillModal">
              More Info
            </button>
            <a href="http://ads2.williamhill.com/redirect.aspx?pid=140488262&bid=1487410199&lpid=1487410864" class="btn btn-info" role="button">Sign-up</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"> </br>
        <a href="http://affiliate.coral.co.uk/processing/clickthrgh.asp?btag=a_12058b_5695&aid="><img src="img/logos/coral.jpg"></a>
        <div class="caption">
          <h3>Coral</h3>
          <p><strong>Free Bet</strong>: 100 % free bet up to 30 GBP</p>
          <p><strong>Mobile Site</strong>: Yes</p>
          <p><strong>Live Betting</strong>: Yes</p>
          <p><strong>License</strong>: UK</p>
          <p><strong>Established/Online since</strong>:2000 </p>
          <p><strong>Average Payout</strong>: ~89.1%</p>
          <p><button class="btn btn-info" data-toggle="modal" data-target="#coralModal">
              More Info
            </button>
            <a href="http://affiliate.coral.co.uk/processing/clickthrgh.asp?btag=a_12058b_5695&aid=" class="btn btn-info" role="button">Sign-up</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"> </br>
        <img src="img/logos/paddy.jpg">
        <div class="caption">
          <h3>Paddy Power</h3>
          <p><strong>Free Bet</strong>: 200 % free bet up to 20 GBP</p>
          <p><strong>Mobile Site</strong>: Yes</p>
          <p><strong>Live Betting</strong>: Yes</p>
          <p><strong>License</strong>: Isle of Man</p>
          <p><strong>Established/Online since</strong>: 2001</p>
          <p><strong>Average Payout</strong>: ~92.0%</p>
          <p><button class="btn btn-info" data-toggle="modal" data-target="#paddyModal">
              More Info
            </button>
            <a href="#" class="btn btn-info" role="button">Sign-up</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"> </br>
        <img src="img/logos/boyle.jpg">
        <div class="caption">
          <h3>Boylesports</h3>
          <p><strong>Free Bet</strong>: 100 % free bet up to 20 GBP</p>
          <p><strong>Mobile Site</strong>: Yes</p>
          <p><strong>Live Betting</strong>: Yes</p>
          <p><strong>License</strong>: Isle of Man</p>
          <p><strong>Established/Online since</strong>: 2001</p>
          <p><strong>Average Payout</strong>: ~93.0%</p>
          <p><button class="btn btn-info" data-toggle="modal" data-target="#boyleModal">
              More Info
            </button>
            <a href="#" class="btn btn-info" role="button">Sign-up</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"> </br>
        <a href="http://partners.betfredaffiliates.com/processing/clickthrgh.asp?btag=a_19384b_2179&aid="><img src="img/logos/betfred.jpg"></a>
        <div class="caption">
          <h3>Betfred</h3>
          <p><strong>Free Bet</strong>: 100 % free bet up to 50 EUR</p>
          <p><strong>Mobile Site</strong>: Yes</p>
          <p><strong>Live Betting</strong>: Yes</p>
          <p><strong>License</strong>: Gibraltar</p>
          <p><strong>Established/Online since</strong>: 2004</p>
          <p><strong>Average Payout</strong>: ~92.7%</p>
          <p><button class="btn btn-info" data-toggle="modal" data-target="#betfredModal">
              More Info
            </button>
            <a href="http://partners.betfredaffiliates.com/processing/clickthrgh.asp?btag=a_19384b_2179&aid=" class="btn btn-info" role="button">Sign-up</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"> </br>
        <img src="img/logos/stanjames.jpg">
        <div class="caption">
          <h3>Stan James</h3>
          <p><strong>Free Bet</strong>: 100 % free bet up to 10 GBP</p>
          <p><strong>Mobile Site</strong>: Yes</p>
          <p><strong>Live Betting</strong>: Yes</p>
          <p><strong>License</strong>: 1997</p>
          <p><strong>Established/Online since</strong>: Gibraltar</p>
          <p><strong>Average Payout</strong>: ~92.1%</p>
          <p><button class="btn btn-info" data-toggle="modal" data-target="#stanjamesModal">
              More Info
            </button>
            <a href="#" class="btn btn-info" role="button">Sign-up</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"> </br>
        <img src="img/logos/betinternet.png">
        <div class="caption">
          <h3>Betinternet</h3>
          <p><strong>Free Bet</strong>: 25 GBP ON SIGNUP</p>
          <p><strong>Mobile Site</strong>: Yes</p>
          <p><strong>Live Betting</strong>: Yes</p>
          <p><strong>License</strong>: Malta</p>
          <p><strong>Established/Online since</strong>: 2000</p>
          <p><strong>Average Payout</strong>: Unknown</p>
          <p><button class="btn btn-info" data-toggle="modal" data-target="#betinternetModal">
              More Info
            </button>
            <a href="#" class="btn btn-info" role="button">Sign-up</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"> </br>
        <img src="img/logos/betvictor.jpg">
        <div class="caption">
          <h3>Betvictor</h3>
          <p><strong>Free Bet</strong>: No Bonus</p>
          <p><strong>Mobile Site</strong>: Yes</p>
          <p><strong>Live Betting</strong>: Yes</p>
          <p><strong>License</strong>: Gibraltar</p>
          <p><strong>Established/Online since</strong>: 1999</p>
          <p><strong>Average Payout</strong>: ~92.1%</p>
          <p><button class="btn btn-info" data-toggle="modal" data-target="#victorModal">
              More Info
            </button>
            <a href="#" class="btn btn-info" role="button">Sign-up</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"> </br>
        <a href="http://affiliates.188bet.com/processing/clickthrgh.asp?btag=a_2835b_822&aid="><img src="img/logos/188bet.jpg"></a>
        <div class="caption">
          <h3>188Bet</h3>
          <p><strong>Free Bet</strong>: £200</p>
          <p><strong>Mobile Site</strong>: Yes</p>
          <p><strong>Live Betting</strong>: Yes</p>
          <p><strong>License</strong>: Isle of Man</p>
          <p><strong>Established/Online since</strong>: 2006</p>
          <p><strong>Average Payout</strong>: Unknown</p>
          <p><button class="btn btn-info" data-toggle="modal" data-target="#188Modal">
              More Info
            </button>
            <a href="http://affiliates.188bet.com/processing/clickthrgh.asp?btag=a_2835b_822&aid=" class="btn btn-info" role="button">Sign-up</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"> </br>
        <img src="img/logos/unibet.jpg">
        <div class="caption">
          <h3>Unibet</h3>
          <p><strong>Free Bet</strong>: 100 % bonus up to 20 GBP</p>
          <p><strong>Mobile Site</strong>: Yes</p>
          <p><strong>Live Betting</strong>: Yes</p>
          <p><strong>License</strong>: Malta</p>
          <p><strong>Established/Online since</strong>:1999 </p>
          <p><strong>Average Payout</strong>: ~91.5% </p>
          <p><button class="btn btn-info" data-toggle="modal" data-target="#uniModal">
              More Info
            </button>
            <a href="#" class="btn btn-info" role="button">Sign-up</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"> </br>
        <img src="img/logos/betsson.jpg">
        <div class="caption">
          <h3>Betsson</h3>
          <p><strong>Free Bet</strong>: No Bonus</p>
          <p><strong>Mobile Site</strong>: Yes</p>
          <p><strong>Live Betting</strong>: Yes</p>
          <p><strong>License</strong>: Malta</p>
          <p><strong>Established/Online since</strong>: 2002</p>
          <p><strong>Average Payout</strong>: ~91.7%</p>
          <p><button class="btn btn-info" data-toggle="modal" data-target="#betssonModal">
              More Info
            </button>
            <a href="#" class="btn btn-info" role="button">Sign-up</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"> </br>
        <img src="img/logos/skybet.jpg">
        <div class="caption">
          <h3>Skybet</h3>
          <p><strong>Free Bet</strong>: 100 % free bet up to 10 GBP</p>
          <p><strong>Mobile Site</strong>: Yes</p>
          <p><strong>Live Betting</strong>: Yes</p>
          <p><strong>License</strong>: Alderney </p>
          <p><strong>Established/Online since</strong>: 2000</p>
          <p><strong>Average Payout</strong>: ~91.5%</p>
          <p><button class="btn btn-info" data-toggle="modal" data-target="#skyModal">
              More Info
            </button>
            <a href="#" class="btn btn-info" role="button">Sign-up</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"> </br>
        <img src="img/logos/betfair.gif">
        <div class="caption">
          <h3>Betfair</h3>
          <p><strong>Free Bet</strong>: 100 % free bet up to 30 EUR</p>
          <p><strong>Mobile Site</strong>: Yes</p>
          <p><strong>Live Betting</strong>: Yes</p>
          <p><strong>License</strong>: UK</p>
          <p><strong>Established/Online since</strong>: 2000</p>
          <p><strong>Average Payout</strong>: N/A</p>
          <p><button class="btn btn-info" data-toggle="modal" data-target="#bfairModal">
              More Info
            </button>
            <a href="#" class="btn btn-info" role="button">Sign-up</a></p>
        </div>
      </div>
    </div>
  </div>    
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail"> </br>
          <a href="http://ads.comeon.com/redirect.aspx?pid=7683&bid=16371"><img src="img/logos/comeon.png"></a>
          <div class="caption">
            <h3>Come On</h3>
            <p><strong>Live Betting</strong>: Yes</p>
            <p><strong>License</strong>: Malta</p>
            <p><strong>Established/Online since</strong>: 2002</p>
            <p><button class="btn btn-info" data-toggle="modal" data-target="#comeonModal">
                More Info
              </button>
              <a href="http://ads.comeon.com/redirect.aspx?pid=7683&bid=16371" target="_blank" class="btn btn-info" role="button">Sign-up</a></p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  </br>
</br>
</br>
<!-- Bet365 Modal -->
<div class="modal fade" id="bet365Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title" id="myModalLabel">Bet 365</h1>
      </div>
      <div class="modal-body">
        <h3>Test banner</h3>
        <a href="http://ads2.williamhill.com/redirect.aspx?pid=140488262&bid=1487410008&lpid=1478396550"><img alt="" src="http://netrefer-a.akamaihd.net/williamhill/201312120919_320x50-25462-BestPrices-Banners.gif" border=0></img ></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Ladbrokes Modal -->
<div class="modal fade" id="ladbrokesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Ladbrokes</h4>
      </div>
      <div class="modal-body">
        <h2>Test banner</h2>
        <a href="http://ads2.williamhill.com/redirect.aspx?pid=140488262&bid=1487410008&lpid=1478396550"><img alt="" src="http://netrefer-a.akamaihd.net/williamhill/201312120919_320x50-25462-BestPrices-Banners.gif" border=0></img ></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- WillHill Modal -->
<div class="modal fade" id="willhillModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
        <h4>William Hill </h4>
      </div>
      <div class="modal-body">
        <p>WIlliam Hill, a giant in the bookmakers industry, first opened in 1934. The UK’s largest high street bookmaker provide a recognisable and trusted brand which operates from over 2300 retail outlets across the UK. They have also expanded worldwide, most notable in the USA, Italy, Spain and Australia further highlighting the scale of their operations.</p>
        
        <a href="http://ads2.williamhill.com/redirect.aspx?pid=140488262&bid=1480798562&lpid=1470161465"><img alt="William Hill" src="http://netrefer-a.akamaihd.net/williamhill/1480798562.gif" border=0></img ></a>
        
        <p>William Hill have continued to develop their online service to stay ahead of their competitors while still offering a great customer service which is what they built their reputation upon. Their ‘Live Caino’ is something to be impressed by and their general all-round performance further proves why they are known as the UK’s largest bookmaker. </p>
        <a href="http://ads2.williamhill.com/redirect.aspx?pid=140488262&bid=1480798551&lpid=1479218959"><img alt="William Hill" src="http://netrefer-a.akamaihd.net/williamhill/1480798551.gif" border=0></img ></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Coral Modal -->
<div class="modal fade" id="coralModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Coral</h4>
        
      </div>
      <div class="modal-body">
        <p>Coral, part of the Gala Coral Group, are one of the Britain’s largest bookmakers. Having a huge retail presence with over 1700 shops in the UK and an ever growing number of online users, Coral are definitely one of the top organisations in the industry. The Gala Coral Group also consists of Gala Bingo and Gala Casino as well as having retail shops in Italy under the operating name Eurobet.</p>
        <!-- Affiliate Code Do NOT Modify--><a href="http://affiliate.coral.co.uk/processing/clickthrgh.asp?btag=a_12058b_5305&aid="  ><img src="http://affiliate.coral.co.uk/processing/impressions.asp?btag=a_12058b_5305&aid=" alt="Super Sunday Football Freeroll  250x250"  style="border:none; width:250px;  height:250px; "/></a><!-- End affiliate Code-->
</p>With a wealth of expertise in the industry, Coral can offer customers with the very best of services. Their ‘£50 Sign Up bonus’ is a great introduction to a web site that prides itself on a well designed platform which offers very competitive odds on an array of sports and the ever popular ‘Best Price Guaranteed’.</p>
<!-- Affiliate Code Do NOT Modify--><a href="http://affiliate.coral.co.uk/processing/clickthrgh.asp?btag=a_12058b_5554&aid="  ><img src="http://affiliate.coral.co.uk/processing/impressions.asp?btag=a_12058b_5554&aid=" alt="Enzo 50 Sports Welcome Bonus250x250"  style="border:none; width:250px;  height:250px; "/></a><!-- End affiliate Code-->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Paddy Modal -->
<div class="modal fade" id="paddyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Paddy Power</h4>
      </div>
      <div class="modal-body">
        
<p>Paddy Power are an Irish Bookmaker who since coming over to England have adopted an aggressive expansion programme. They have become a very popular bookmaker due to their controversial yet appealing marketing tactics, their more fashionable image and of course their extensive range of novelty and Money Back Specials.</p>

<p>Paddy Power have by far the most competitive bet offers in the industry and are fast becoming a major player. Visit the site and on a daily basis your sure to find a Money Back Special, a hilarious novelty bet, some advertising that may raise an eyebrow or just good old fashion prices with Best Price Guaranteed. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Boyle Modal -->
<div class="modal fade" id="boyleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Boylesports</h4>
      </div>
      <div class="modal-body">
<p>Boylesports, started up in 1989, are the largest independent Bookmaker in Ireland. They have expanded rapidly and are now one of the biggest companies in the UK online gambling industry. With an huge online presence ,they are a very traditional bookmakers who have state of the art software ensuring a smooth experience.  </p>

<p>Their promotions are attractive, ranging from Best Odds Guaranteed to money back specials in high profile races. Boylesports can pride themselves upon staying with the competition when it comes to offers and promotions by matching or beating them. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Betfred Modal -->
<div class="modal fade" id="betfredModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Bet Fred</h4>
      </div>
      <div class="modal-body">
        
        <p>Betfred has become on of the leading bookmakers who have a large retail presence across the UK as well as a massive digital presence. Betfred, named after is owner Fred Done, are known as the ‘Bonus Kings’ due to there offers and bonuses.</p>

        <!-- Affiliate Code Do NOT Modify--><a href="http://partners.betfredaffiliates.com/processing/clickthrgh.asp?btag=a_19384b_3203&aid="  ><img src="http://partners.betfredaffiliates.com/processing/impressions.asp?btag=a_19384b_3203&aid=" alt="http://www.betfred.com/TV-ad-free-bet"  style="border:none; width:300px;  height:250px; "/></a><!-- End affiliate Code-->
        <p>Betfred boast bespoke IT systems to provide an award winning mobile platforms as well as their website which is both fun and user friendly to operate. Their sign up bonus is good but you can always find better value with their prices, offer and ‘Best Price Guaranteed’. Their ‘Double Delight and Hat-trick Heaven’  bonuses are very popular amongst football fans across the country. Be sure to see what a household name in the industry have to offer!</p.>
<!-- Affiliate Code Do NOT Modify--><a href="http://partners.betfredaffiliates.com/processing/clickthrgh.asp?btag=a_19384b_3203&aid="  ><img src="http://partners.betfredaffiliates.com/processing/impressions.asp?btag=a_19384b_3203&aid=" alt="http://www.betfred.com/TV-ad-free-bet"  style="border:none; width:300px;  height:250px; "/></a><!-- End affiliate Code-->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- SJ Modal -->
<div class="modal fade" id="stanjamesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Stan James</h4>
      </div>
      <div class="modal-body">
        <h2>Test banner</h2>
        <a href="http://ads2.williamhill.com/redirect.aspx?pid=140488262&bid=1487410008&lpid=1478396550"><img alt="" src="http://netrefer-a.akamaihd.net/williamhill/201312120919_320x50-25462-BestPrices-Banners.gif" border=0></img ></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- BetInternet Modal -->
<div class="modal fade" id="betinternetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Bet Internet</h4>
      </div>
      <div class="modal-body">
        <h2>Test banner</h2>
        <a href="http://ads2.williamhill.com/redirect.aspx?pid=140488262&bid=1487410008&lpid=1478396550"><img alt="" src="http://netrefer-a.akamaihd.net/williamhill/201312120919_320x50-25462-BestPrices-Banners.gif" border=0></img ></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Bet Victor Modal -->
<div class="modal fade" id="victorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Bet Victor</h4>
      </div>
      <div class="modal-body">
        <h2>Test banner</h2>
        <a href="http://ads2.williamhill.com/redirect.aspx?pid=140488262&bid=1487410008&lpid=1478396550"><img alt="" src="http://netrefer-a.akamaihd.net/williamhill/201312120919_320x50-25462-BestPrices-Banners.gif" border=0></img ></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 188 Modal -->
<div class="modal fade" id="188Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">188Bet</h4>
      </div>
      <div class="modal-body">
        <!-- Affiliate Code Do NOT Modify--><a href="http://affiliates.188bet.com/processing/clickthrgh.asp?btag=a_2835b_41&aid="  ><img src="http://affiliates.188bet.com/processing/impressions.asp?btag=a_2835b_41&aid=" alt="Click here to get a £50 bonus!"  style="border:none; width:300px;  height:250px; "/></a><!-- End affiliate Code-->
<!-- Affiliate Code Do NOT Modify--><a href="http://affiliates.188bet.com/processing/clickthrgh.asp?btag=a_2835b_88&aid="  ><img src="http://affiliates.188bet.com/processing/impressions.asp?btag=a_2835b_88&aid=" alt="1888bet"  style="border:none; width:300px;  height:250px; "/></a><!-- End affiliate Code-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Uni Modal -->
<div class="modal fade" id="uniModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Unibet</h4>
      </div>
      <div class="modal-body">
        <h2>Test banner</h2>
        <a href="http://ads2.williamhill.com/redirect.aspx?pid=140488262&bid=1487410008&lpid=1478396550"><img alt="" src="http://netrefer-a.akamaihd.net/williamhill/201312120919_320x50-25462-BestPrices-Banners.gif" border=0></img ></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Betsson Modal -->
<div class="modal fade" id="betssonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Betsson</h4>
      </div>
      <div class="modal-body">
<p>        Betsson are a Malta Based online gambling company launched in 2002 in England and Sweden. Being a relatively new company in an extremely competitive market, they have exploded onto the European stage with their Casino,Poker, games, Scratch card and Sports book products. </p>

<p>Betsson’s Sportsbook  have gone from strength to strength, opening their 1st betting shop in Stockholm in 2008, hitting the 1 million registered customer landmark the same year and winning an awards, Betsson are becoming one of Europe's most trusted names in the industry.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Sky Modal -->
<div class="modal fade" id="skyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Skybet</h4>
      </div>
      <div class="modal-body">
        <p>        Sky Bet, a subsidiary of UK based BSkyB, is the sporting division of Sky Betting and Gaming. They  are one of UK’s few betting companies who don’t operate from a traditional High Street Location. They have 3 further divisions: Sky Vegas, Sky Poker and Sky Bingo.</p>
        
        <p>Entering the industry in 2000, acquiring small companies over the years, Sky Bet is fast becoming a very popular choice of online bookies for sport punters. With Sky Sports being a huge marketing tool, unique really, they are seen everyday by millions. They have their own SkyBet channel and have ex professional footballer, Jamie Redknapp as the face of the company.
        </p>
        <p>They have recently included ‘Best Price Guaranteed’ on their racing, along with their ‘Price Boots’ on the football and a number of Free Bet promotions, Sky Bet are certainly a popular and fast growing bookies.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- BetFair Modal -->
<div class="modal fade" id="bfairModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Betfair</h4>
      </div>
      <div class="modal-body">
        <h2>Test banner</h2>
        <a href="http://ads2.williamhill.com/redirect.aspx?pid=140488262&bid=1487410008&lpid=1478396550"><img alt="" src="http://netrefer-a.akamaihd.net/williamhill/201312120919_320x50-25462-BestPrices-Banners.gif" border=0></img ></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Come On Modal -->
<div class="modal fade" id="comeonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Come On</h4>
      </div>
      <div class="modal-body">
<p>
ComeOn, another new company in the ultra competitive industry, are a 100% online bookmaker. Also based in Malta they are a company who have impressed with their stand out platform which is attractive and easy to use. </p>

<p>Additionally to their state of the art website, they have a huge range of markets and are definitely a bookmakers to check out. They have a good sign up bonus and a unique reward programme where customers gain point to cash in the more they bet.</p>
<script type="text/javascript" src="http://ads.comeon.com/ad.aspx?pid=7683&bid=11828"></script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
{% endblock %}
