{% extends '../views/layout.html' %}

{% block content %}
	<br /><br />
	<div class="container">	
		<h1>Welcome</h1>
		<h2>You're hipster enough. How about </h2>
		<br />
		<button type="button" class="btn btn-info btn-lg btn-block">setting up a profile</button> 
		<button type="button" class="btn btn-primary btn-lg btn-block">tell us where you want to go</button> 
		<button type="button" class="btn btn-success btn-lg btn-block">add a recomendation like the ones below</button>
		<br /><br />
	</div>
	<div class="container feed">
		<a href="#"><img src="assets/img/voting/2.jpg" class="img-thumbnail"></a>	
		<a href="#"><img src="assets/img/voting/6.jpg" class="img-thumbnail"></a>	
		<a href="#"><img src="assets/img/voting/6.jpg" class="img-thumbnail"></a>	
		<a href="#"><img src="assets/img/voting/4.jpg" class="img-thumbnail"></a>	
		<a href="#"><img src="assets/img/voting/6.jpg" class="img-thumbnail"></a>	
		<a href="#"><img src="assets/img/voting/4.jpg" class="img-thumbnail"></a>	
		<a href="#"><img src="assets/img/voting/4.jpg" class="img-thumbnail"></a>
		<a href="#"><img src="assets/img/voting/1.jpg" class="img-thumbnail"></a>
		<a href="#"><img src="assets/img/voting/2.jpg" class="img-thumbnail"></a>	
		<a href="#"><img src="assets/img/voting/6.jpg" class="img-thumbnail"></a>	
		<a href="#"><img src="assets/img/voting/6.jpg" class="img-thumbnail"></a>	
		<a href="#"><img src="assets/img/voting/4.jpg" class="img-thumbnail"></a>	
		<a href="#"><img src="assets/img/voting/6.jpg" class="img-thumbnail"></a>	
		<a href="#"><img src="assets/img/voting/4.jpg" class="img-thumbnail"></a>	
		<a href="#"><img src="assets/img/voting/4.jpg" class="img-thumbnail"></a>	
	</div>

{% endblock %}
