{% extends '../views/layout.html' %}

{% block content %}

	<div class="container feed">
          {% for i, event in events %}
	  <div id="img_container">
	    <a class="anchor" name="{{ event._id.toHexString() }}"></a>
	    {% if event.votes >= 6 %}
	    <h3>Hiploaded!</h3>
	    <img src="/images/{{ event.imgFileName }}" class="img-thumbnail grayscale">
            <img src="images/hiploaded.png" class="hiploaded"/>
            <div class="progress" style="visibility: hidden">
              <div class="progress-bar" style="width: {{event.votes/6 * 100}}%">
                <span class="sr-only">100% Complete (success)</span>
              </div>
            </div>
            {% else %}
	    <h3><a href="/vote/{{ event._id.toHexString() }}">{{ event.title }}</a></h3>
          <a class="vote" href="/vote/{{ event._id.toHexString() }}">&#8679;</a>
          <a href="/item/{{ event._id.toHexString() }}"><img src="/images/{{ event.imgFileName }}" class="img-thumbnail"></a>
            <div class="progress">
              <div class="progress-bar" style="width: {{event.votes/6 * 100}}%">
                <span class="sr-only">20% Complete (success)</span>
              </div>
            </div>
            {% endif %}
	  </div>
          {% endfor %}
	</div>
	<br /><br />
{% endblock %}
