{% extends '../views/layout.html' %}

{% block content %}
<link rel="stylesheet" href="/styles/google-maps.css">
<script src="/js/google-maps.js"></script>
<script src="/assets/js/map.js"></script>

<br /><br /><br /><br /><br /><br />
<div class="container voting-question">	
  <img src="/images/{{ event.imgFileName }}" class="img-thumbnail" style="float: right;">
  <h1>{{ event.title }}</h1>
  <h4>{{ event.title }} </h4>
</div>
<div class="container">
</div><br /><br />
<div id="gmap_canvas" style="height:500px; width:100%;"></div>
<script>
  init_map(14, new google.maps.LatLng({{ event.loc[0]}}, {{event.loc[1]}}),  "gmap_canvas", "{{event.title}}")
</script>
<br /><br />
{% endblock %}
