
@media (min-width: 768px) {
  .voting {
    width: 800px;
  }

  .feed #img_container {
    width: 49%;
  }
}
@media (min-width: 992px) {
  .voting {
    width: 800px;
  }
}
@media (min-width: 1200px) {
  .voting {
    width: 800px;
  }

  .feed #img_container {
    width: 33%;
  }

}

.voting .img-thumbnail {
  width: 49%;
}


.feed #img_container {
    position:relative;
    display:inline-block;
    text-align:center;
}

.button {
    position:absolute;
    top:40px;
    right:10px;
}


.feed{
    position:relative;

}
.feed a p{
    top:0;
    left:0;
    position: absolute;
}


.show {
  display:block;
}

.hide {
  display: none;
}